.green-text {
    color: green;
}

.red-text {
    color: red;
}

.yellow-text {
    color: yellow;
}

.blue-text {
    color: blue;
}

.orange-text {
    color: orange;
}

.purple-text {
    color: purple;
}

.pink-text {
    color: pink;
}

.shadow {
    text-shadow: 5px 5px 10px black;
}

.box-shadow {
    box-shadow: none 5px 10px black;
}